@import 'mixins.less';
@import 'variables.less';


// Hide the links to unused superdesk features
// Needed since we import these in the modules due to depencies
// but we don't need the links in the user menu
#main-menu .content > ul > li > a[href="#/workspace"],
#main-menu .content > ul > li > a[href="#/authoring/"],
#main-menu .content > ul > li > a[href="#/legal_archive/"],
//#main-menu .content > ul > li > a[href="#/desks/"],
//.nav-tabs > li > a[href="#/settings/desks"],
//.nav-tabs > li > a[href="#/settings/user-roles"],
.nav-tabs > li > a[href="#/settings/dictionaries"],
.nav-tabs > li > a[href="#/settings/templates"] {
    display: none !important;
}

.list-pane {
    .content {
        background: #000;
    }
    .list-view {
        .media-box {
            min-height: 150px;
            min-width: 170px;
            max-width: 170px;
            padding: 0;
            &.media-picture {
                background: none;
            }
            h3 {
                color: #fff;
                font-size: 11px;
            }
            .media {
                background: none;
                margin: 0 0 10px;
            }
            &.multi {
                margin: 0 0 10px;
            }
            .media-info {
                background: #1a1a1a;
                .verification-results {
                    padding: 5px 0;
                    dt {
                        display: none;
                    }
                    dd {
                        display: inline-block;
                        overflow: hidden;
                        width: 25px;
                        height: 25px;
                        color: transparent;
                        // iztru icon styles
                        &.iztru {
                            background: #333333;
                        }
                        &.iztru-1 {
                            background: #03ff03;
                        }
                        &.iztru-2 {
                            background: #80eb03;
                        }
                        &.iztru-3 {
                            background: #fed703;
                        }
                        &.iztru-4 {
                            background: #fd6c02;
                        }
                        &.iztru-5 {
                            background: #fe0303;
                        }
                        // gps icon styles
                        &.gps {
                            background: #03ff03;
                            &.no {
                                background: #333333;
                            }
                        }
                    }
                }
            }
        }
    }
    &.compact-view {
        .list-view {
            li {
                .media-box {
                    background: #1a1a1a;
                }
                &:nth-of-type(even) {
                    .media-box {
                        background: #333;
                    }
                }
            }
        }
    }
}

.main-section {
	z-index: auto;
}

.navbtn.hover {
	background: #e0e0e0;
}

.button-stack {
    &.right-stack {
        .navbtn {
            line-height: 46px;
        }
    }
    &.active {
        background-color: #eaeaea;
        &.right-stack {
            border-left: 1px solid #d1d1d1 !important;
            height: 49px !important;
            .navbtn {
                border-left: none !important;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    .nav-tabs {
        margin-left: 20px;
    }
}

.homebtn {
	width: 48px;
	padding: 0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

