@import 'mixins.less';
@import 'variables.less';
// Hide the links to unused superdesk features
// Needed since we import these in the modules due to depencies
// but we don't need the links in the user menu
#main-menu .content > ul > li > a[href="#/workspace"],
#main-menu .content > ul > li > a[href="#/authoring/"],
#main-menu .content > ul > li > a[href="#/legal_archive/"],
#main-menu .content > ul > li > a[href="#/desks/"],
//.nav-tabs > li > a[href="#/settings/desks"],
//.nav-tabs > li > a[href="#/settings/user-roles"],

.nav-tabs > li > a[href="#/settings/dictionaries"],
.nav-tabs > li > a[href="#/settings/groups"],
.nav-tabs > li > a[href="#/settings/templates"] {
    display: none !important;
}

.vpp {
    &.preview-layout {
        .preview-pane {
            background: #d0d0d0;
            width: 480px;
            // side panel refresh button
            .btn {
                &.refresh {
                    margin-bottom: 10px;
                }
            }
        }
        .multi-action-bar,
        .search-page-header {
            padding-right: 40px;
        }
        .shadow-list-holder {
            overflow-y: hidden;
        }
    }
    .list-pane {
        header {
            background: #e8e8e8;
        }
        .content {
            background: #1e1e1e;
        }
        .mgrid-view {
            .media-box {
                min-height: 220px;
                min-width: 170px;
                max-width: 170px;
                padding: 0;
                &.media-picture {
                    background: none;
                }
                h3 {
                    color: #fff;
                    font-size: 11px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    min-height: 26px;
                }
                .media {
                    background: none;
                    margin: 0 0 5px;
                    &.multi {
                        margin: 0 0 10px;
                        text-align: center;
                    }
                }
                .media-info {
                    background: #1a1a1a;
                    padding: 5px 0;
                    figure {
                        position: relative;
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        &.compact-view {
            .list-item-view {
                clear: left;
                .media-box,
                .media-box.active {
                    border-right: none!important;
                }
                .media-box {
                    border-bottom: none;
                    .item-info {
                        .headline {
                            margin-right: 100px;
                        }
                    }
                }
                .list-field {
                    border-left: none;
                    min-width: auto;
                }
                &.active {
                    margin: 2px 0;
                    > div {
                        outline: solid 2px #fbb03b;
                    }
                }
                .urgency {
                    display: none;
                }
                .thumb {
                    float: left;
                    figure {
                        display: inline-block;
                        margin: 8px 0 0;
                        min-width: 71px;
                        text-align: center;
                        &.media {
                            img {
                                height: 40px;
                            }
                        }
                    }
                }
                .verification-results {
                    float: left;
                    margin: 5px 0 0 10px;
                    padding: 0;
                }
                .source {
                    color: #f15a25;
                    display: inline-block;
                }
            }
            li,
            .active {
                .media-box {
                    background: #1a1a1a!important;
                    .item-functions {
                        display: none;
                    }
                    .item-info {
                        .line {
                            margin-left: 190px;
                        }
                    }
                }
                &:nth-of-type(even) {
                    .media-box {
                        background: #333!important;
                        .item-functions {
                            li {
                                &::hover {
                                    background: #333!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .verification-results {
        padding: 5px 0;
        dt {
            display: none!important;
        }
        dd {
            display: inline-block;
            text-overflow: hidden;
            width: 25px!important;
            height: 25px!important;
            margin: 0 5px 0 0;
            color: transparent!important;
            position: relative;
            span.nudge {
                position: absolute;
                top: -4px;
                right: -4px;
                background-color: #ff8000;
                color: #fafafa;
                min-width: 16px;
                height: 16px;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
                border-radius: 3px;
                line-height: 16px;
                box-shadow: 0 0 2px #000;
            }
            // gps icon styles
            &.gps {
                background: url(../../images/verification/GPSInfo-OK.svg) no-repeat center center transparent;
                background-size: 100%;
                &.no {
                    // background: url(../../images/GPSInfo-Error.svg) no-repeat center center transparent;
                    background: url(../../images/verification/GPSInfo.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
            }
            // gris
            &.gris {
                background: url(../../images/verification/gris.svg) no-repeat center center transparent;
                background-size: 100%;
                &.good {
                    background: url(../../images/verification/gris-green.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
                &.bad {
                    background: url(../../images/verification/gris-red.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
                &.ugly {
                    background: url(../../images/verification/gris-grey.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
            }
            // tineye
            &.tineye {
                background: url(../../images/verification/tineye.svg) no-repeat center center transparent;
                background-size: 100%;
                &.good {
                    background: url(../../images/verification/tineye-green.svg) no-repeat center center transparent;
                    background-size: 100%;
                    span {
                        // background-color: #21a537;
                    }
                }
                &.bad {
                    background: url(../../images/verification/tineye-red.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
                &.ugly {
                    background: url(../../images/verification/tineye-grey.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
            }
            // iztru icon styles
            &.izitru {
                background: url(../../images/verification/izitru.svg) no-repeat center center transparent;
                background-size: 100%;
                border-radius: 3px;
                span {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    background: #999;
                    color: #fff;
                    width: 16px;
                    height: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: center;
                    border-radius: 3px;
                    line-height: 16px;
                    box-shadow: 0 0 2px #000;
                }
                &.ugly {
                    background: url(../../images/verification/izitru-grey.svg) no-repeat center center transparent;
                    background-size: 100%;
                }
                &-1 {
                    background: url(../../images/verification/izitru-green.svg) no-repeat center center transparent;
                    background-size: 100%;
                    /*background-color: #21a537!important;*/
                }
                &-2 {
                    /*background-color: #b6c40f!important;*/
                }
                &-3 {
                    /*background-color: #ffce14!important;*/
                }
                &-4 {
                    /*background-color: #ff6700!important;*/
                }
                &-5 {
                    /*background-color: #ce1417!important;*/
                }
            }
        }
    }
    // filmstrip
    .preview-layout {
        .shadow-list-holder {
            overflow-y: hidden!important;
        }
    }
    .filmstrip {
        margin: 0;
        padding: 2px;
        .active {
            .media-box {
                .media {
                    outline: solid 2px #d88f41;
                }
            }
        }
        .slides {
            display: table;
            position: relative;
            li {
                display: table-cell;
            }
        }
        .media-box {
            float: left;
            background: none!important;
            position: relative;
            padding: 0!important;
            margin: 0 10px 0 0!important;
            min-height: auto!important;
            /*min-width: auto!important;*/
            max-height: auto!important;
            /*border: none!important;*/
            text-align: center;
            .media {
                background: none!important;
                padding: 0!important;
                margin: 0!important;
                figure {
                    max-width: auto;
                    margin: 0!important;
                    img {}
                }
            }
            .media-info {
                position: absolute!important;
                bottom: 0;
            }
        }
    }
    .item-info {
        .keyword {
            width: 160px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .fa {
        &.tineye {
            &::before {
                display: inline-block;
                background: url("../../images/preview-icons/tineye.svg") no-repeat center center transparent;
                background-size: 100%;
                content: " ";
                width: 35px;
                height: 35px;
                margin: -35px 2px 0 0;
                position: relative;
                top: 10px;
            }
        }
        &.izitru {
            &::before {
                display: inline-block;
                background: url("../../images/preview-icons/izitru.svg") no-repeat center center transparent;
                background-size: 100%;
                content: " ";
                width: 35px;
                height: 35px;
                margin: -35px 2px 0 0;
                position: relative;
                top: 10px;
            }
        }
    }
    // preview container
    .preview-container {
        img {
            margin: 0 auto;
            display: block;
        }
    }
    // izitrue panel
    .it-scale {
        dt {
            &::after {
                content: ":";
            }
        }
        dd {
            margin-bottom: 10px;
        }
    }
    .glossary {
        dl {
            dt,
            dd {
                padding-top: 5px;
                padding-bottom: 5px;
                line-height: 20px;
                &:nth-of-type(even) {
                    background-color: #efefef;
                }
            }
            dt {
                padding-left: 5px;
                width: 130px;
            }
            dd {}
        }
    }
    // comments
    .notification-list-box {
        .add-comment {
            form[name="commentsForm"] {
                margin: 0 10px;
            }
        }
        .actions {
            margin: 10px 0 0;
        }
    }
    .main-section {
        z-index: auto;
    }
    .navbtn.hover {
        background: #e0e0e0;
    }
    .button-stack {
        &.right-stack {
            .navbtn {
                line-height: 46px;
            }
        }
        &.active {
            background-color: #eaeaea;
            &.right-stack {
                border-left: 1px solid #d1d1d1 !important;
                height: 49px !important;
                .navbtn {
                    border-left: none !important;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        .nav-tabs {
            margin-left: 20px;
        }
    }
    .nav-tabs {
        li {
            button {
                color: #2d2d2d;
            }
        }
    }
    .homebtn {
        width: 48px;
        padding: 0;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
    //
    // Pagination (multiple pages)
    // --------------------------------------------------
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0 0 10px 0;
        border-radius: @border-radius-base;
        > li {
            display: inline; // Remove list-style and block-level defaults
            > a,
            > span {
                position: relative;
                float: left; // Collapse white-space
                padding: 5px;
                line-height: @line-height-base;
                text-decoration: none;
                color: @pagination-color;
                background-color: @pagination-bg;
                border: 1px solid @pagination-border;
                margin-left: -1px;
            }
            &:first-child {
                > a,
                > span {
                    margin-left: 0;
                }
            }
            &:last-child {
                > a,
                > span {
                }
            }
        }
        > li > a,
        > li > span {
            &:hover,
            &:focus {
                z-index: 2;
                color: @pagination-hover-color;
                background-color: @pagination-hover-bg;
                border-color: @pagination-hover-border;
            }
        }
        > .active > a,
        > .active > span {
            &,
            &:hover,
            &:focus {
                z-index: 3;
                color: @pagination-active-color;
                background-color: @pagination-active-bg;
                border-color: #ffffff;
                cursor: default;
            }
        }
        > .disabled {
            > span,
            > span:hover,
            > span:focus,
            > a,
            > a:hover,
            > a:focus {
                color: @pagination-disabled-color;
                background-color: @pagination-disabled-bg;
                border-color: @pagination-disabled-border;
                cursor: @cursor-disabled;
            }
        }
    }
}
