<div class="exif">
  <h3>Camera info</h3>
  <dl>
    <dt>Time (GMT)</dt>
      <dd>08:47:53</dd>
    <dt>Maker</dt>
      <dd>Apple</dd>
    <dt>Model</dt>
      <dd>iPhone 6</dd>
    <dt>Resolution</dt>
      <dd>300px * 200px</dd>
    <dt>Filesize</dt>
      <dd>3MB</dd>
  </dl>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d621678.2911681741!2d13.425136449999998!3d52.50754189999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin%2C+Germany!5e0!3m2!1sen!2suk!4v1436371971434" width="215" height="145" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>Berlin, Brandenburg, Germany</p>
  </div>
</div>