<div class="picture">
  <figure>
    <img src="thebigrendition.jpg" />
    <figcaption>
      <dl>
        <dt>Submitted</dt>
          <dd>email@internet.com</dd> <!-- I guess this will link to a portfolio of previously submitted items by the same email or twitter user or whatever | best leave it out for now -->
        <dt>Attached Message</dt> <!-- IF there was a message with the email/tweet/MMS/servicethatdoesntexistyet then display it here, if it's blank then omit this dt/dd pair -->
          <dd>
            <p>Lorem ipsum dolar sit amet etc</p>
            <p>Lorem ipsum dolar sit amet etc</p>
            <p>Lorem ipsum dolar sit amet etc</p>
            <p>Lorem ipsum dolar sit amet etc</p>
          </dd>
      </dl>
    </figcaption>
  </figure>
</div>