<div class="metadata-view">

<!--
    <button ng-click="openLightbox()" class="fullscreen">
      <i class="icon-fullscreen"></i>
    </button>
 -->
    <div ng-if="item.filemeta">
      <h4>Camera Info</h4>
      <dl>
        <dt translate>Lens Make</dt><dd>{{ item.filemeta.LensMake }}</dd>
      </dl>
      <dl>
        <dt translate>Lens Model</dt><dd>{{ item.filemeta.LensModel }}</dd>
      </dl>
      <dl>
        <dt translate>Captured</dt><dd sd-reldate-complex ng-model="item.filemeta.datecaptured"></dd>
      </dl>
      <!-- Map -->
      <div vp-media-map data-item="item"></div>
      <!-- END MAP -->
    </div>

    <div ng-if="item.verification.tineye.results">
      <h4>Tineye</h4>
      <dl>
          <dt translate>Tineye Total Results</dt>
          <dd>{{ item.verification.tineye.results.total_results }}</dd>
      </dl>
    </div>

    <div ng-if="item.verification.gris.searchInformation">
      <h4>Google Reverse Image</h4>
      <dl>
          <dt translate>GRIS Total Results</dt>
          <dd>{{ item.verification.gris.searchInformation.formattedTotalResults }}</dd>
      </dl>
    </div>

    <div ng-if="item.verification.izitru.verdict">
      <h4>Izitru</h4>
      <dl>
          <dt translate>Izitru Verdict</dt>
          <dd>{{ item.verification.izitru.verdict }}</dd>
      </dl>
    </div>

    <h4>Metadata</h4>
    <dl ng-if="item.guid">
        <dt translate>GUID</dt>
        <dd>{{ item.guid }}</dd>
    </dl>
    <dl ng-if="item.firstcreated">
        <dt translate>Created</dt>
        <dd sd-reldate-complex ng-model="item.firstcreated"></dd>
    </dl>
    <dl ng-if="item.versioncreated">
        <dt translate>Last updated</dt>
        <dd sd-reldate-complex ng-model="item.versioncreated"></dd>
    </dl>
    <dl ng-if="item.expiry">
        <dt translate>Expiry</dt>
        <dd sd-reldate-complex ng-model="item.expiry"></dd>
    </dl>
    <dl ng-if="originalCreator">
        <dt translate>Original creator</dt>
        <dd>{{ originalCreator }}</dd>
    </dl>

    <!-- ingest details -->
    <dl ng-if="item.original_source">
        <dt translate>Original source</dt>
        <dd>{{ item.original_source }}</dd>
    </dl>
    <dl>
        <dt translate>Source</dt>
        <dd sd-meta-ingest data-item="item"></dd>
    </dl>
    <!-- copyright details details -->
    <dl ng-if="item.copyrightholder">
        <dt translate>Copyright holder</dt>
        <dd>{{ item.copyrightholder }}</dd>
    </dl>
    <dl ng-if="item.copyrightnotice">
        <dt translate>Copyright notice</dt>
        <dd>{{ item.copyrightnotice }}</dd>
    </dl>
    <dl ng-if="item.usageterms">
        <dt translate>Usageterms</dt>
        <dd>{{ item.usageterms }}</dd>
    </dl>
    
</div>
