<div class="metadata-view">

    <button ng-click="openLightbox()" class="fullscreen">
      <i class="icon-fullscreen"></i>
    </button>

    <!-- VERIFICATION METADATA -->
    <dl ng-if="item.verification.gris.searchInformation">
        <dt translate>GRIS Total Results</dt>
        <dd>{{ item.verification.gris.searchInformation.formattedTotalResults }}</dd>
    </dl>
    <dl ng-if="item.verification.tineye.results">
        <dt translate>Tineye Total Results</dt>
        <dd>{{ item.verification.tineye.results.total_results }}</dd>
    </dl>
    <dl ng-if="item.verification.izitru.verdict">
        <dt translate>Izitru Verdict</dt>
        <dd>{{ item.verification.izitru.verdict }}</dd>
    </dl>
    <!-- END VERIFICATION METADATA -->

    <!-- Map -->
    <div vp-media-map data-item="item"></div>
    <!-- END MAP -->

    <dl ng-if="item.guid">
        <dt translate>GUID</dt>
        <dd>{{ item.guid }}</dd>
    </dl>
    <dl ng-if="item.firstcreated">
        <dt translate>Created</dt>
        <dd sd-reldate-complex ng-model="item.firstcreated"></dd>
    </dl>
    <dl ng-if="item.versioncreated">
        <dt translate>Last updated</dt>
        <dd sd-reldate-complex ng-model="item.versioncreated"></dd>
    </dl>
    <dl ng-if="item.expiry">
        <dt translate>Expiry</dt>
        <dd sd-reldate-complex ng-model="item.expiry"></dd>
    </dl>
    <dl ng-if="originalCreator">
        <dt translate>Original creator</dt>
        <dd>{{ originalCreator }}</dd>
    </dl>

    <!-- ingest details -->
    <dl ng-if="item.original_source">
        <dt translate>Original source</dt>
        <dd>{{ item.original_source }}</dd>
    </dl>
    <dl>
        <dt translate>Source</dt>
        <dd sd-meta-ingest data-item="item"></dd>
    </dl>
    <!-- copyright details details -->
    <dl ng-if="item.copyrightholder">
        <dt translate>Copyright holder</dt>
        <dd>{{ item.copyrightholder }}</dd>
    </dl>
    <dl ng-if="item.copyrightnotice">
        <dt translate>Copyright notice</dt>
        <dd>{{ item.copyrightnotice }}</dd>
    </dl>
    <dl ng-if="item.usageterms">
        <dt translate>Usageterms</dt>
        <dd>{{ item.usageterms }}</dd>
    </dl>

    <!-- file specific data -->
    <dl ng-if="item.filemeta">
        <dt translate>Aperture</dt><dd>{{ item.filemeta.ApertureValue[0] }} : {{ item.filemeta.ApertureValue[1] }}</dd>
        <dt translate>Exposure time</dt><dd>{{ item.filemeta.ExposureTime[0] }} : {{ item.filemeta.ExposureTime[1] }}</dd>
        <dt translate>Focal length</dt><dd>{{ item.filemeta.FocalLength[0] }} : {{ item.filemeta.FocalLength[1] }}</dd>
        <dt translate>Iso</dt><dd>{{ item.filemeta.ISOSpeedRatings }}</dd>
        <dt translate>Flash</dt><dd>{{ item.filemeta.Flash }}</dd>
    </dl>
    
</div>
