<div class="metadata-view">

<!--
    <button ng-click="openLightbox()" class="fullscreen">
      <i class="icon-fullscreen"></i>
    </button>
 -->
    <div ng-if="item.converted_exif">
      <h4>Camera Info</h4>
      <dl>
        <dt translate>Lens Make</dt><dd>{{ item.converted_exif.lensmake }}</dd>
      </dl>
      <dl>
        <dt translate>Lens Model</dt><dd>{{ item.converted_exif.lensmodel }}</dd>
      </dl>
      <dl>
        <dt translate>Captured</dt>
        <dd ng-switch on="item.converted_exif.datecaptured">
            <span ng-switch-when="unknown">Unknown</span>
            <time
                ng-switch-default
                datetime="{{ item.converted_exif.datecaptured }}"
                title="{{ item.converted_exif.datecaptured|date:'medium' }}">{{ item.converted_exif.datecaptured| date:'medium' }}</time>
        </dd>
    </dl>
      <!-- Map -->
      <div vp-media-map data-item="item"></div>
      <!-- END MAP -->
    </div>

    <div ng-if="item.verification.stats.tineye.total">
      <h4>Tineye</h4>
      <dl>
          <dt translate>Tineye Total Results</dt>
          <dd>{{ item.verification.stats.tineye.total }}</dd>
      </dl>
    </div>

    <div ng-if="item.verification.stats.incandescent.total_google">
      <h4>Google Reverse Image</h4>
      <dl>
          <dt translate>GRIS Total Results</dt>
          <dd>{{ item.verification.stats.incandescent.total_google }}</dd>
      </dl>
    </div>

    <div ng-if="item.verification.stats.izitru.verdict">
      <h4>Izitru</h4>
    </div>

    <div class="it-scale" ng-if="item.verification.stats.izitru.verdict">
        <dl>
            <dt ng-if="item.verification.stats.izitru.verdict == 1">High Trust</dt>
                <dd ng-if="item.verification.stats.izitru.verdict == 1">This image has passed all six Izitru forensic tests and has not subsequently been edited. When you see a High rating, you can be very confident that you're looking at an unmodified original from a digital camera.</dd>
            <dt ng-if="item.verification.stats.izitru.verdict == 2">Medium Trust</dt>
                <dd ng-if="item.verification.stats.izitru.verdict == 2">Forensic tests on this image were inconclusive, so not trust rating can be assigned.</dd>
            <dt ng-if="item.verification.stats.izitru.verdict == 3">Undetermined file history</dt>
                <dd ng-if="item.verification.stats.izitru.verdict == 3">One or more forensic tests indicate that this file has been re-saved since the time it was captured. Thus, this image is not a camera original, though that does not necessarily mean that the image content was changed in a meaningful way.</dd>
            <dt ng-if="item.verification.stats.izitru.verdict == 4">Potential file modification</dt>
                <dd ng-if="item.verification.stats.izitru.verdict == 4">Potential file modification: One or more forensic tests indicate that this file has been re-saved since the time it was captured. Thus, this image is not a camera original, though that does not necessarily mean that the image content was changed in a meaningful way.</dd>
            <dt ng-if="item.verification.stats.izitru.verdict == 5">No Trust</dt>
                <dd ng-if="item.verification.stats.izitru.verdict == 5">An individualized analysis has revealed clear signs of manipulation in this image. This rating is reserved for images that have been inspected by a forensic expert, most likely after being challenged by site visitors.</dd>
        </dl>
    </div>

    <h4>Metadata</h4>
    <dl ng-if="item.guid">
        <dt translate>GUID</dt>
        <dd>{{ item.guid }}</dd>
    </dl>
    <dl ng-if="item.firstcreated">
        <dt translate>Created</dt>
        <dd sd-reldate-complex ng-model="item.firstcreated"></dd>
    </dl>
    <dl ng-if="item.versioncreated">
        <dt translate>Last updated</dt>
        <dd sd-reldate-complex ng-model="item.versioncreated"></dd>
    </dl>
    <dl ng-if="item.expiry">
        <dt translate>Expiry</dt>
        <dd sd-reldate-complex ng-model="item.expiry"></dd>
    </dl>
    <dl ng-if="originalCreator">
        <dt translate>Original creator</dt>
        <dd>{{ originalCreator }}</dd>
    </dl>

    <!-- ingest details -->
    <dl ng-if="item.original_source">
        <dt translate>Original source</dt>
        <dd>{{ item.original_source }}</dd>
    </dl>
    <dl>
        <dt translate>Source</dt>
        <dd sd-meta-ingest data-item="item"></dd>
    </dl>
    <!-- copyright details details -->
    <dl ng-if="item.copyrightholder">
        <dt translate>Copyright holder</dt>
        <dd>{{ item.copyrightholder }}</dd>
    </dl>
    <dl ng-if="item.copyrightnotice">
        <dt translate>Copyright notice</dt>
        <dd>{{ item.copyrightnotice }}</dd>
    </dl>
    <dl ng-if="item.usageterms">
        <dt translate>Usageterms</dt>
        <dd>{{ item.usageterms }}</dd>
    </dl>
    
</div>
