<div ng-if="item.converted_exif" class="vpp-card gray-top">
  <p class="question-text">Which camera model took the photo?</p>
  <p ng-switch on="item.converted_exif.make || '_undefined_'" class="info-text">
    <span ng-switch-default>{{ item.converted_exif.make }}, {{ item.converted_exif.model }}</span>
    <span ng-switch-when="_undefined_">Unknown</span>
  </p>
  <p ng-if="item.converted_exif.lensmake">
    Lens: {{ item.converted_exif.lensmake }}, {{ item.converted_exif.lensmodel }}
  </p>

  <p class="question-text">What were the camera settings?</p>
  <p ng-switch on="item.verification.results.izitru.EXIF.exposureTime" class="info-text">
    <span ng-switch-when="NA">Unknown</span>
    <span ng-switch-default>
          {{ item.verification.results.izitru.EXIF.exposureTime }} secs,
          f/{{ item.verification.results.izitru.EXIF.fnumber }},
          {{ item.verification.results.izitru.EXIF.iso }} ISO
        </span>
  </p>

  <p class="question-text">What is this photo's resolution?</p>
  <p class="info-text">{{ item.verification.results.izitru.EXIF.imageSize }} pixels</p>
</div>
