<div class="metadata-view">
    <!-- file specific data -->
    <dl ng-if="item.converted_exif">
        <dt ng-if="item.converted_exif.lensmake" translate>Lens Make</dt>
            <dd ng-if="item.converted_exif.lensmake">{{ item.converted_exif.lensmake }}</dd>
        <dt ng-if="item.converted_exif.lensmodel" translate>Lens Model</dt>
            <dd ng-if="item.converted_exif.lensmodel">{{ item.converted_exif.lensmodel }}</dd>
        <dt ng-if="item.converted_exif.datetime" translate>Timestamp</dt>
            <dd ng-if="item.converted_exif.datetime">{{ item.converted_exif.datetime }}</dd>
        <dt ng-if="item.converted_exif.aperture" translate>Aperture</dt>
            <dd ng-if="item.converted_exif.aperture">f/{{ item.converted_exif.aperture }}</dd>
        <dt ng-if="item.converted_exif.exposuremode" translate>Exposure Mode</dt>
            <dd ng-if="item.converted_exif.exposuremode">{{ item.converted_exif.exposuremode }}</dd>
        <dt ng-if="item.converted_exif.exposuretime" translate>Exposure Time</dt>
            <dd ng-if="item.converted_exif.exposuretime">{{ item.converted_exif.exposuretime }} seconds</dd>
        <dt ng-if="item.converted_exif.focallength" translate>Focal length</dt>
            <dd ng-if="item.converted_exif.focallength">{{ item.converted_exif.focallength }}mm</dd>
        <dt ng-if="item.converted_exif.isospeedratings" translate>ISO</dt>
            <dd ng-if="item.converted_exif.isospeedratings">{{ item.converted_exif.isospeedratings }}</dd>
        <dt ng-if="item.converted_exif.flash" translate>Flash</dt>
            <dd ng-if="item.converted_exif.flash">{{ item.converted_exif.flash }}</dd>
    </dl>

    <h4>GPS Info:</h4>
    <dl ng-if="item.converted_exif.gpsinfo">
        <dt translate>Latitude</dt>
            <dd>{{ item.converted_exif.gpslat }}</dd>
        <dt translate>Longitude</dt>
            <dd>{{ item.converted_exif.gpslon }}</dd>
        <dt translate>Altitude</dt>
            <dd>{{ item.converted_exif.gpsaltitude }}</dd>
        <dt translate>Capture Direction</dt>
            <dd>{{ item.converted_exif.gpsdirection }}</dd>
        <dt translate>Capture Direction Ref</dt>
            <dd>{{ item.converted_exif.gpsinfo.gpsimgdirectionref }}</dd>
        <dt ng-if="item.gpsspeed" translate>GPS Speed</dt>
            <dd>{{ item.gpsspeed }}{{ item.converted_exif.gpsinfo.gpsspeedref }}</dd>
        <dt ng-if="item.gpstrack" translate>GPS Track</dt>
            <dd>{{ item.gpstrack }}{{ item.converted_exif.gpsinfo.gpstrackref }}</dd>
    </dl>
</div>
