<div class="metadata-view">
    <!-- VERIFICATION METADATA -->
    <dl ng-if="item.verification.gris.searchInformation">
        <dt translate>GRIS Total Results</dt>
        <dd>{{ item.verification.gris.searchInformation.formattedTotalResults }}</dd>
    </dl>
    <dl ng-if="item.verification.gris.results.matches">
        <dt translate>GRIS Matches</dt>
        <dd>:</dd>
    </dl>

    <ul class="gris-matches">
      <li ng-repeat="match in item.verification.gris.items | limitTo:10">
        <dl>
          <dt><img src="{{ match.image.thumbnailLink }}" width="75" /></dt>
          <dd>
            <p>Image: {{ match.displayLink }}</p>
          </dd>
        </dl>
      </li>
    </ul>
    <!-- END VERIFICATION METADATA -->
</div>
