<div class="metadata-view">

  <button class="btn refresh" ng-click="refreshVerificationResults(item, 'incandescent')">
    <i class="fa fa-refresh"></i>&nbsp;<span translate>Refresh</span>
  </button>

  <div class="vpp-card gray-top" ng-if="!item.verification.stats.incandescent.total_google || item.verification.stats.incandescent.total_google == 0">
    <div class=block-head>
      <span translate>
        No matches found
      </span>
    </div>
    <p class="info-text">
      Google reverse image search was not able to find a match online. While that's a good indicator that the image may be original, it's important to remember that there are many reasons why it wouldn't be in Tineye's index.
    </p>
  </div>

  <div class="vpp-card yellow-top" ng-if="item.verification.stats.incandescent.total_google > 0">

    <div class=block-head>
      <span translate>GRIS Total Results</headline>
      <div class="pull-right">
        <span>{{ item.verification.stats.incandescent.total_google }}</span>
        <span class=page-count>(page: {{pageNumber || 1}} / {{numPages}})</span>
      </div>
    </div>

    <pagination total-items="item.verification.stats.incandescent.total_google" ng-model="pageNumber" max-size="10" class="pagination-sm pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

    <ul ng-if="item.verification.results.incandescent.google" class="gris-matches">
      <li ng-repeat="match in item.verification.results.incandescent.google |  paginate: pageNumber : 10">

        <dl>
          <dt>
            <ul>
              <li class="tineye-image"><img src="{{ match['usage-image'] }}" width="75" /></li>
              <!--<li class="tineye-label time-label">-->
                <!--<time sd-datetime data-date="match.date*1000"></time>-->
              <!--</li>-->
              <!--<li class="tineye-label number-label">{{ match.backlinks.length }} Total</li>-->
            </ul>
          </dt>
          <dd>
            <ul class="tineye-backlinks">
                <p>
                  {{ match.date*1000 | date:'yyyy-MM-dd' }}
                  <br />
                  <a href="{{ match.page }}" target="_blank">{{ match.page }}</a>
                </p>
            </ul>
          </dd>
        </dl>

      </li>
    </ul>

  </div>
</div>
