<div>
  <h3>Reverse Image Search</h3>
  <figure>
    <!-- html5 spec says we can have as many images as we like in a figure element to group them! -->
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
    <a href="images.google.com"><img src="whateverman.jpg" /></a>
  </figure>
</div>