<div class="preview-pane content-item-preview" ng-if="item">
    <header>
        <ul class="nav nav-tabs">
            <li ng-class="{active: tab === 'all'}">
                <button ng-click="tab = 'all'"><span translate>All</span></button>
            </li>
            <li ng-class="{active: tab === 'exif'}">
                <button ng-click="tab = 'exif'"><i class="fa fa-2x fa-camera"></i></button>
            </li>
            <li ng-class="{active: tab === 'gris'}">
                <button ng-click="tab = 'gris'"><i class="fa fa-2x fa-google"></i></button>
            </li>
            <li ng-class="{active: tab === 'tineye'}">
                <button ng-click="tab = 'tineye'">
                    <img src="/images/tineye-icon.png">
                </button>
            </li>
            <li ng-class="{active: tab === 'izitru'}">
                <button ng-click="tab = 'izitru'">
                    <img src="/images/izitru-icon.png">
                </button>
            </li>
            <li ng-class="{active: tab === 'comments'}">
                <button ng-click="tab = 'comments'">
                    <i class="fa fa-2x fa-comments"></i> ({{item.comments.length}})
                </button>
            </li>
        </ul>
        <button ng-click="close()" class="close-preview">
            <i class="icon-close-small"></i>
        </button>
    </header>
    <div class="content">
        <div ng-if="tab === 'all'" vp-media-all data-item="item"></div>
        <div ng-if="tab === 'exif'" vp-media-exif data-item="item"></div>
        <div ng-if="tab === 'gris'" vp-media-gris data-item="item"></div>
        <div ng-if="tab === 'tineye'" vp-media-tineye data-item="item"></div>
        <div ng-if="tab === 'izitru'" vp-media-izitru data-item="item"></div>
        <div ng-if="tab === 'comments'" vp-media-comments data-item="item"></div>
    </div>
</div>
