<div class="preview-pane content-item-preview" ng-if="item">
    <header>
        <ul class="nav nav-tabs">
            <li ng-class="{active: tab === 'all'}">
                <button ng-click="tab = 'all'"><span translate>All</span></button>
            </li>
            <li ng-class="{active: tab === 'exif'}">
                <button ng-click="tab = 'exif'" tooltip="Exif data" tooltip-placement="bottom">
                    <i class="fa fa-2x fa-camera"></i>
                </button>
            </li>
            <li ng-class="{active: tab === 'gris'}">
                <button ng-click="tab = 'gris'" tooltip="Google Revere Image Search" tooltip-placement="bottom">
                    <i class="fa fa-2x fa-google"></i> ({{item.verification.stats.incandescent.total_google}})
                </button>
            </li>
            <li ng-class="{active: tab === 'tineye'}">
                <button ng-click="tab = 'tineye'" tooltip="Tineye" tooltip-placement="bottom">
                    <i ng-class="{active: tab === 'tineye'}" class="fa fa-2x tineye"></i>
                    ({{item.verification.stats.tineye.total}})
                </button>
            </li>
            <li ng-class="{active: tab === 'izitru'}">
                <button ng-click="tab = 'izitru'" tooltip="Izitru" tooltip-placement="bottom">
                    <i ng-class="{active: tab === 'izitru'}" class="fa fa-2x izitru"></i>
                    ({{item.verification.stats.izitru.verdict}})
                </button>
            </li>
            <li ng-class="{active: tab === 'comments'}">
                <button ng-click="tab = 'comments'" tooltips="Comments" tooltip-placement="bottom">
                    <i class="fa fa-2x fa-comments"></i> ({{item.comments.length}})
                </button>
            </li>
            <li ng-class="{active: tab === 'glossary'}">
                <button ng-click="tab = 'glossary'" tooltips="Glossary" tooltip-placement="bottom">
                    <i class="fa fa-2x fa-book"></i>
                </button>
            </li>
        </ul>
        <button ng-click="close()" class="close-preview">
            <i class="icon-close-small"></i>
        </button>
    </header>
    <div class="content">
        <div ng-if="tab === 'all'" vp-media-all data-item="item"></div>
        <div ng-if="tab === 'exif'" vp-media-exif data-item="item"></div>
        <div ng-if="tab === 'gris'" vp-media-gris data-item="item"></div>
        <div ng-if="tab === 'tineye'" vp-media-tineye data-item="item"></div>
        <div ng-if="tab === 'izitru'" vp-media-izitru data-item="item"></div>
        <div ng-if="tab === 'comments'" vp-media-comments data-item="item"></div>
        <div ng-if="tab === 'glossary'" vp-glossary data-item="item"></div>
    </div>
</div>
