<div class="preview-pane content-item-preview" ng-if="item">
  <header>
    <ul class="nav nav-tabs">
      <li ng-class="{active: tab.selected === 'all'}">
        <button ng-click="tab.selected = 'all'"><span translate>All</span></button>
      </li>
      <li ng-class="{active: tab.selected === 'exif'}">
        <button ng-click="tab.selected = 'exif'" tooltip="Exif data" tooltip-placement="bottom">
          <i class="fa fa-2x fa-camera"></i>
        </button>
      </li>
      <li ng-class="{active: tab.selected === 'gris'}">
        <button ng-click="tab.selected = 'gris'" tooltip="Google Revere Image Search" tooltip-placement="bottom">
          <i class="fa fa-2x fa-google"></i> ({{item.verification.stats.incandescent.total_google}})
        </button>
      </li>
      <li ng-class="{active: tab.selected === 'tineye'}">
        <button ng-click="tab.selected = 'tineye'" tooltip="Tineye" tooltip-placement="bottom">
          <i ng-class="{active: tab.selected === 'tineye'}" class="fa fa-2x tineye"></i> ({{item.verification.stats.tineye.total}})
        </button>
      </li>
      <li ng-class="{active: tab.selected === 'izitru'}">
        <button ng-click="tab.selected = 'izitru'" tooltip="Izitru" tooltip-placement="bottom">
          <i ng-class="{active: tab.selected === 'izitru'}" class="fa fa-2x izitru"></i>
        </button>
      </li>
      <li ng-class="{active: tab.selected === 'comments'}">
        <button ng-click="tab.selected = 'comments'" tooltips="Comments" tooltip-placement="bottom">
          <i class="fa fa-2x fa-comments"></i> ({{item.comments.length}})
        </button>
      </li>
      <li ng-class="{active: tab.selected === 'glossary'}">
        <button ng-click="tab.selected = 'glossary'" tooltips="Glossary" tooltip-placement="bottom">
          <i class="fa fa-2x fa-book"></i>
        </button>
      </li>
    </ul>
    <button ng-click="close()" class="close-preview">
      <i class="icon-close-small"></i>
    </button>
  </header>
  <div class="content">
    <div ng-if="tab.selected === 'all'" vp-media-all data-item="item" data-open-tab="openTab(tab)"></div>
    <div ng-if="tab.selected === 'exif'" vp-media-exif data-item="item"></div>
    <div ng-if="tab.selected === 'gris'" vp-media-gris data-item="item"></div>
    <div ng-if="tab.selected === 'tineye'" vp-media-tineye data-item="item"></div>
    <div ng-if="tab.selected === 'izitru'" vp-media-izitru data-item="item"></div>
    <div ng-if="tab.selected === 'comments'" vp-media-comments data-item="item"></div>
    <div ng-if="tab.selected === 'glossary'" vp-glossary data-item="item"></div>
  </div>
</div>
