<div class="list">
  <table>
    <thead>
      <tr>
        <td colspan="2">Filename</td>
        <td>Verification</td>
        <td>User</td>
        <td>File Size</td>
        <td>GPS</td>
        <td>Resolution</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>    <tr>
        <td>
          <figure>
            <img src="whateverrendition.jpg" />
          </figure>
        </td>
        <td>
          <form>
            <input type="checkbox" />
          </form>
        </td>
        <td>
          <ul>
            <li>EXIF</li>
            <li>GRIS</li>
            <li>Tineye</li>
            <li>IZTRU</li>
          </ul>
        </td>
        <td><a href="#">user@internet.com</a></td>
        <td>3.4 MB</td>
        <td>Berlin</td>
        <td>1280 x 720</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>