    <div
        ng-if="item.converted_exif.gpsinfo.gpslatitude && item.converted_exif.gpsinfo.gpslongitude">
        <map
            style="height: 155px; width: 420px"
            zoom="17" 
            center="[{{ item.converted_exif.gpslat }}, {{ item.converted_exif.gpslon }}]" 
            disable-default-u-i="false"
            disable-double-click-zoom="false"
            draggable="false"
            dragging-cursor="move"
            keyboard-shortcuts="false"
            max-zoom="18"
            min-zoom="8"
            tilt="45"
            map-type-id="TERRAIN">
            <marker
                position="[{{ item.converted_exif.gpslat }}, {{ item.converted_exif.gpslon }}]"
                icon="{{item.converted_exif.gpsicon}}"
                title="GPS Location"
                draggable="false"
                visible="true">
            </marker>
        </map>
        <div ng-if="item.verification.stats.izitru.location">
          (<a href="http://maps.google.com/maps?q={{ item.converted_exif.gpslat }},{{ item.converted_exif.gpslon }}&ll={{item.converted_exif.gpslat }}, {{ item.converted_exif.gpslon }}&z=15" target="_blank">open in new tab</a>)

        </div>
    </div>
