    <div
        ng-if="item.filemeta.GPSInfo.GPSLatitude && item.filemeta.GPSInfo.GPSLongitude">
        <map
            style="height: 125px; width: 350px"
            zoom="14" 
            center="[{{ item.gpslat }}, {{ item.gpslon }}]" 
            disable-default-u-i="true"
            disable-double-click-zoom="true"
            draggable="false"
            dragging-cursor="move"
            keyboard-shortcuts="false"
            max-zoom="18"
            min-zoom="8"
            tilt="45"
            map-type-id="TERRAIN">
            <marker
                position="[{{ item.gpslat }}, {{ item.gpslon }}]"
                title="GPS Location"
                draggable="false"
                visible="true">
            </marker>
        </map>
        <dl ng-if="item.gpslat">
            <dt translate>Capture Location Latitude</dt>
            <dd>{{ item.gpslat }}</dd>
        </dl>
        <dl ng-if="item.gpslon">
            <dt translate>Capture Location Longitude</dt>
            <dd>{{ item.gpslon }}</dd>
        </dl>
        <dl ng-if="item.gpsdirection">
            <dt translate>Capture Direction</dt>
            <dd>{{ item.gpsdirection }}</dd>

            <dt translate>Capture Direction Ref</dt>
            <dd>{{ item.filemeta.GPSInfo.GPSImgDirectionRef }}</dd>
        </dl>
    </div>
