<div class="archiving-progress" style="width:{{ _progress }}%" ng-if="_progress"></div>

<div ng-click="clickAction(item)">
    <div class="error-box" ng-show="item.archiveError">
        <p class="message" translate>There was an error archiving this item</p>
        <div class="buttons"></div>
    </div>

    <h3 ng-if="!selected.preview">{{ item.slugline }}</h3>

    <div class="media multi" ng-show="item.type == 'text' || item.type == 'composite' || item.type == 'preformatted' || item.type == 'picture'" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <div 
          vp-item-rendition 
          data-item="item" 
          data-rendition="thumbnail"></div>
        <span class="text">
            <small title="{{ item.headline }}">{{item.headline | limitTo: 90}}</small>
            <span sd-item-container data-item="item" class="container"></span>
        </span>

        <div class="selectbox" ng-show="hover || item.selected">
            <span sd-check ng-model="item.selected" ng-change="toggleSelected(item)"></span>
        </div>
    </div>

    <div class="media-info">

        <span ng-if="item.highlights" sd-highlights-title data-item="item"></span>

        <dl ng-if="!selected.preview">
            <dt translate>Taken</dt>
                <dd ng-switch on="item.converted_exif.datecaptured">
                    <span ng-switch-when="unknown">Unknown</span>
                    <time
                        ng-switch-default
                        datetime="{{ item.converted_exif.datecaptured }}"
                        title="{{ item.converted_exif.datecaptured|date:'medium' }}">{{ item.converted_exif.datecaptured|reldate }}</time>
                </dd>
        </dl>

        <dl class="verification-results">
            <dt translate>GPS Info Status</dt>
                <dd class="gps" ng-if="item.converted_exif.gpsinfo" title="Item has GPS metadata">Item has GPS metadata</dd>
                <dd class="gps no" ng-if="!item.converted_exif.gpsinfo" title="Item has no GPS metadata">Item has no GPS metadata</dd>

            <dt translate>Google Reverse Image Search</dt>
                <dd ng-if="item.verification.stats.incandescent.total_google == 0" class="gris" title="Item has no matches from Google Reverse Image Search">Item has no matches from Google Reverse Image Search</dd>
                <dd ng-if="item.verification.stats.incandescent.total_google > 0" class="gris" title="Item has {{ item.verification.stats.incandescent.total_google }} matches from Google Reverse Image Search">Item has <span class="nudge">{{ item.verification.stats.incandescent.total_google }}</span> matches from Google Reverse Image Search</dd>
                <dd ng-if="!item.verification.stats.incandescent" class="gris ugly" title="Something went wrong with the Google Reverse Image Search">Something went wrong with the Google Reverse Image Search</dd>

            <dt translate>Tineye</dt>
                <dd ng-if="item.verification.stats.tineye.total === 0" class="tineye" title="Item has no matches from Tineye">Item has <span>0</span> matches from Tineye</dd>
                <dd ng-if="item.verification.stats.tineye.total > 0" class="tineye" title="Item has {{ item.verification.stats.tineye.total }} matches from Tineye">Item has matches <span class="nudge">{{ item.verification.stats.tineye.total }}</span> from Tineye</dd>
                <dd ng-if="!item.verification.stats.tineye" class="tineye ugly" title="Something went wrong with the Tineye search">Something went wrong with the Tineye search</dd>

            <dt ng-if="item.verification.stats.izitru.verdict">Izitru Verdict</dt>
                <dd ng-if="item.verification.stats.izitru.verdict" class="izitru izitru-{{ item.verification.stats.izitru.verdict }}" title="Izitru rating receieved"></dd>
                <dd ng-if="!item.verification.stats.izitru" class="iztru" title="Unable to verify with Izitru">Unable to verify with Izitru</dd>
        </dl>


    </div>

</div>
