<div class="thumbs">
  <ul>
    <li>
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
    </li>
    <li class="selected">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
    </li>
    <li class="read">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
    </li>
    <li class="selected read">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
    </li>
  </ul>
</div>