<div class="thumbs">
  <ul>
    <li>
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
      <dl>
        <dt>Filename</dt>
          <dd>IMG00000001.jpg</dd>
      </dl>
      <form>
        <input type="checkbox" />
      </form>
    </li>
    <li class="selected">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
      <dl>
        <dt>Filename</dt>
          <dd>IMG00000002.jpg</dd>
      </dl>
      <form>
        <input type="checkbox" />
      </form>
    </li>
    <li class="read">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
      <dl>
        <dt>Filename</dt>
          <dd>IMG00000003.jpg</dd>
      </dl>
      <form>
        <input type="checkbox" />
      </form>
    </li>
    <li class="selected read">
      <figure>
        <img src="whateverrendition.jpg" />
      </figure>
      <ul>
        <li>EXIF</li>
        <li>GRIS</li>
        <li>Tineye</li>
        <li>IZTRU</li>
      </ul>
      <dl>
        <dt>Filename</dt>
          <dd>IMG00000004.jpg</dd>
      </dl>
      <form>
        <input type="checkbox" />
      </form>
    </li>
  </ul>
</div>