<div class="metadata-view">

  <button class="btn refresh" ng-click="refreshVerificationResults(item, 'tineye')">
    <i class="fa fa-refresh"></i>&nbsp;<span translate>Refresh</span>
    <!-- <span class="icon">&#8634;&nbsp;</span><span translate>Refresh</span> -->
  </button>

  <div class="vpp-card gray-top" ng-if="!item.verification.stats.tineye.total || item.verification.stats.tineye.total == 0">
    <div class=block-head>
      <span translate>
        No matches found
      </span>
    </div>
    <p class="info-text">
      TinEye reverse image search was not able to find a match online. While that's a good indicator that the image may be original, it's important to remember that there are many reasons why it wouldn't be in Tineye's index.
    </p>
  </div>

  <div class="vpp-card yellow-top" ng-if="item.verification.stats.tineye.total > 0">

    <div class=block-head>
      <span translate>Tineye Total Results</span>
      <div class="pull-right">
        <span>{{ item.verification.stats.tineye.total }}</span>
        <span class=page-count>(page: {{pageNumber || 1}} / {{numPages}})</span>
      </div>
    </div>

    <pagination total-items="item.verification.stats.tineye.total" ng-model="pageNumber" max-size="10" class="pagination-sm pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

    <ul ng-if="item.verification.results.tineye.results.matches" class="tineye-matches">
      <!--@TODO:-->
      <li ng-repeat="match in item.verification.results.tineye.results.matches | orderBy: -'earliest_crawl_date' | paginate: pageNumber : 10">
        <dl>
          <dt>
            <ul>
              <li class="tineye-image"><img src="{{ match.image_url }}" width="75" /></li>
              <li class="tineye-label time-label">
                <!--<i class="icon-desk-time"></i>-->
                <time sd-datetime data-date="match.earliest_crawl_date"></time>
              </li>
              <li class="tineye-label number-label">{{ match.backlinks.length }} Total</li>
            </ul>
          </dt>
          <dd>
            <ul class="tineye-backlinks">
              <li ng-repeat="link in match.backlinks | orderBy: 'crawl_date' | limitTo:5">
                <p>
                  {{ link.crawl_date }}
                  <br />
                  <a href="{{ link.backlink }}" target="_blank">{{ link.backlink }}</a>
                </p>
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>

  </div>
</div>
