<div class="metadata-view">
    <!-- VERIFICATION METADATA -->
    <dl ng-if="item.verification.stats.tineye.total">
        <dt translate>Tineye Total Results</dt>
        <dd>{{ item.verification.results.tineye.results.total_results }}</dd>
    </dl>

    <ul ng-if="item.verification.results.tineye.results.matches" class="tineye-matches">
      <li ng-repeat="match in item.verification.results.tineye.results.matches | orderBy: 'earliest_crawl_date' |limitTo:10">
        <dl>
          <dt>
            <ul>
              <li class="tineye-image"><img src="{{ match.image_url }}" width="75" /></li>
              <li class="tineye-label">
                    <i class="icon-desk-time"></i> <time sd-datetime data-date="match.earliest_crawl_date"></time>
              </li>
              <li class="tineye-label">{{ match.backlinks.length }} Total</li>
            </ul>
          </dt>
          <dd>
            <ul class="tineye-backlinks">
                <li ng-repeat="link in match.backlinks | orderBy: 'crawl_date' | limitTo:5">
                    <p>
                      {{ link.crawl_date }}<br />
                      <a href="{{ link.backlink }}" target="_blank">{{ link.backlink }}</a>
                    </p>
                </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
    <!-- END VERIFICATION METADATA -->

</div>
